h1,h2,h5,p{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    width:100%;
    background:  #F2E0E0;
}
#l__head{
    width:100vw;
    height: 100%;
    background-color: #F2E0E0;
}
.head__menu{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top:50px;
    padding-bottom: 50px;
}
.head__menu__items li{
  list-style-type: none;
  display: inline-block;
  padding-left:15px;
}
.head__menu__items a{
    text-decoration: none;
    text-transform: uppercase;
    color:#842A2A;
    font-weight: 700;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover {
    background-size: 100% 2px;
}
.head__contact{
    display: flex;
    align-items:center;
    position: relative;
    z-index: 2;
}
.contact__number{
    font-size: 25px;
    margin-right: 25px;
    color:#842A2A;
}
.contact__btn{
    background: rgb(231, 113, 113);
    padding:15px 24px 15px 24px;
    border:0;
    color:white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
}
.head__circle__mini{
    width:200px;
    height: 200px;
    position: absolute;
    left:-25px;
    top:-45px;
    z-index: 1;
    filter: blur(1px);
    background-color:rgba(231, 113, 113,0.4);
    border-radius: 100px;
}
.logo__text{
    font-size:30px;
    font-weight: 700;
    color:rgb(231, 113, 113);
    position: relative;
    left:-30px;
    z-index: 2;
}
.l__article{
    display: flex;
    justify-content: space-between;

}
.article__title{
    margin-left: 300px;
}
.article__circle__max{
    width:800px;
    height: 800px;
    filter: blur(1px);
    background-color:rgba(231, 113, 113,0.4);
    position: absolute;
    z-index: 1;
    top:-50px;
    right:-20px;
    border-radius: 100%;
}
.article__photo{
    background-image: url('../img/header_photo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width:300px;
    height: 500px;
    
    margin-right: 400px;
    position: relative;
    z-index:2;
    margin-bottom: 100px;
}
.article__title__main{
    font-size: 60px;
    width: 60%;
    margin-top:120px;
    margin-bottom:50px;
    color:#842A2A;
}
.article__title__subtxt{
    font-size:20px;
    color:#842A2A;
    margin-bottom:50px;
    width:60%;
}
.article__enroll__btn{
    background: rgb(231, 113, 113);
    padding:20px 30px 20px 30px;
    font-size: 17px;
    color:white;
    margin-right: 20px;
    border-radius: 50px;
    border:0;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 0 rgb(231, 113, 113);
    animation: pulse 2s infinite;
}
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(231, 113, 113);
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(231, 113, 113, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(231, 113, 113, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(231, 113, 113, 0.4);
      box-shadow: 0 0 0 0 rgba(231, 113, 113, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 15px rgba(231, 113, 113, 0);
        box-shadow: 0 0 0 15px rgba(231, 113, 113, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(231, 113, 113, 0);
        box-shadow: 0 0 0 0 rgba(231, 113, 113, 0);
    }
  }
.container__services{
    width:100vw;
    height: 100%;
    height: 100%;
}
.cards__position{
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-around;
}
.container__title{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 30px;
   color:#842A2A;
   background:  #F2E0E0;
   font-size: 20px;
}
.container__cards{
    margin:0px 200px;
    background:  #F2E0E0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    height: 450px;
    width: 350px;
    position: relative;
    background: rgba(231, 113, 113,0.8);
    border-radius: 10px;
    margin-bottom:40px;
    box-shadow: 5px 5px 5px 2px rgba(231, 113, 113,0.4);
}
.card__title{
    position:absolute;
    background:#F2E0E0;
    padding:10px 10px 10px 10px; 
    border-radius: 10px;
    top:163px;
    left:110px;
}
.card__image1{
    width: 100%;
    height: 180px;
    background-image:url('../img/service1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.card__image2{
    width: 100%;
    height: 180px;
    background-image:url('../img/service2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.card__image3{
    width: 100%;
    height: 180px;
    background-image:url('../img/service3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.card__description{
    width: 100%;
    height: 170px;
    padding-top:35px;
    text-align: center;
}
.card__buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.description__price{
    padding-top:30px;
    font-size:20px;
}
.contact__btn{
    background:#F2E0E0;
    color:rgb(231, 113, 113); 
}
.article__details__btn{
    color:#F2E0E0;
    font-size:15px;
    background: transparent;
    border:0;
    text-decoration: underline;
}
.about__us{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__us__bio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bio__photo{
    width:200px;
    height: 200px;
    border-radius: 100px;
    margin-top:15px;
    background-color: gray;
}
.bio__title{
    font-size: 25px;
    margin-top:15px;
    margin-bottom: 15px;
}
.bio__description{
  margin-bottom: 50px;
}
.about__us__education:nth-child(odd){
    display: flex;
    justify-content: space-around;
    height: 100%;
    width:70%;
    margin-bottom: 50px;
}
.about__us__education:nth-child(even){
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 100%;
    width:65%;
    margin-bottom: 50px;
}
.education__text{
    width:500px;
    height:300px;
    text-align: center;
}
.education__photo{
   width:500px;
   height: 300px;
   background-color: gray;
}
.feedback{
    height: 800px;
}
.contact_us h2{
    text-align: center;
    padding-top: 20px;  
    padding-bottom: 20px;  
    color: #842A2A;
    font-size: 27px;
}
.contact_us{
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgb(231,120,100), rgb(300, 240, 230));
}
.container__inputs{
    width: 450px;
    height: 600px;
}
.input__name, .input__surname, .input__number, .input__e-mail{
    height: 50px;
    width: 400px;
    background: rgba(247,238,235,0.5);
    display: flex;
    flex-direction: column;
    padding: 20px 7px 9px;
    margin: 0 15px 15px;
}
label{
    margin-top: -8px;
    margin-bottom: 5px;
    color: #842A2A;
}
#name, #surname, #number, #e-mail{
    height: 50px;
    border: 0;
}
.input__message{
    height: 200px;
    width: 400px;
    background: rgba(247,238,235,0.5);
    display: flex;
    flex-direction: column;
    padding: 20px 7px 9px;
    margin: 15px;
    
}
#message{
    height: 170px;
    width: 396px;
    border: 0;
    resize: none;
    
}
.container__map{
   
    height: 600px;
    width: 450px;
}
.container__map h2{
  text-align: center;
  padding-bottom:px;
  margin-bottom: 20px;
  background: rgba(247,238,235,0.5);
  height: 50px;
  width: 400px;
  margin-left: 15px;
  padding-left: 5px;
}
#map__number, #map__e-mail, #map__address{
   width:400px;
   height:50px;
   margin-bottom: 10px;
   padding-top:17px;
   background: rgba(247,238,235,0.5);
   margin-left: 15px;
   padding-left: 5px;
}
.map{
    height:405px;
    width: 250px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.contact__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}